table {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    width: calc(100% - 2rem);
    margin: 1rem;
    table-layout: inherit;
    color: var(--primary-color);
}

.table-header > .table-row{
    background: var(--secondary-background-color);
}

.table-row {
    height: 3.5rem;
    background: var(--primary-background-color);
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
    font-size: 1.15rem;
}

.table-row:nth-child(even) {
    background: #F5F5F5;
}

.name-column {
    text-align: start;
    padding-left: 1.25rem;
    max-width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
